@import './partials/_colors';
@import './partials/_layout';
@import './partials/_lines';
@import './partials/_animations';
@import './partials/_cards';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;

  @media(max-width: 1080px) {
    font-size: 93.75%;
  }

  @media(max-width: 768px) {
    font-size: 87.5%;
  }
}

::-webkit-scrollbar {
  background: transparent;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: $secondary-color;
}


body {
  background: $background;
  overflow-x: hidden;

  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}

ul {
  list-style: none;
  display: flex;

  li {
    font-size: 1.125rem;

    a{
      color: $text;
    }

    &+li {
      margin-left: 1rem;
    }
  }
}

a {
  padding: 0 1rem;
  text-decoration: none;
  transition: .4s;
  letter-spacing: 1px;

  &:hover {
    color: #000;
  }
}

h1,
h2,
h3,
h5,
h6,
strong {
  font-weight: 700;
  font-family: 'Playfair Display', sans-serif;
}

h3 {
  color: $subtitle;
  font-size: 2.5rem;
  font-weight: normal;
}

h1 {
  color: $primary-color;
  font-size: 4.5rem;
}

h2{
  color: $primary-color;
  font-size: 4rem;
}

h4 {
  font-family: 'Oswald', sans-serif;
  color: $text;
  font-weight: 300;
  font-size: 2rem;
  margin-top: 1.5rem;
}

h5{
  color: $secondary-color;
  font-size: 1.75rem;
}

p{
  color: $text;
  text-indent: 1rem;
}

button {
  cursor: pointer;
  font-size: 1.125rem;
  // font-weight: 600;
}

button.contact-me {
  margin-top: 2rem;
  background: transparent;
  border: 2px solid $primary-color;
  border-radius: .25rem;
  height: 3rem;
  width: 40%;
  transition: .4s;

  &:hover {
    color: #fff;
    background: $primary-color;
  }
}

[disabled] {
  opacity: .6;
  cursor: not-allowed;
}

.social-media{
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  gap: 1rem;

  a{
    background-color: $secondary-color;
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;

    img{
      width: 2rem;
      height: 2rem;
    }
  }

}

.navbar {
  ul li a {
    position: relative;

    &::before {
      position: absolute;
      content: '';
      width: 3px;
      height: 0;
      left: calc(50% - 2px);
      top: -3.5rem;
      z-index: -1;
      transition: .4s ease-out;
      border-radius: .25rem;
      background: $top-gradient;
    }

    &:hover {
      &::before {
        height: 200%;
      }
    }
  }
}

span.logo {
  display: inline-block;
  font-family: 'Poppins', 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  letter-spacing: 2px;
}

footer span.logo{
  font-size: 2rem;
  color: #fff;
}

.me-image {
  position: relative;
  width: 80%;
  margin: 0 auto;
  object-fit: cover;
  height: 25rem;
  border-radius: .25rem;

  &::before,
  &::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: .4s ease-out;
    border-radius: .25rem;
  }

  &::before {
    top: -3%;
    left: -3%;
    background-color: $primary-color;
    box-shadow: 0px 16px 64px 0px rgba(94, 33, 41, 0.35);
  }

  &::after {
    bottom: -3%;
    right: -3%;
    border: 2px solid $primary-color;
    background: transparent;
  }
}

.hidden-animation {
  animation: hideWelcomeScreen .7s ease;
}

.hidden {
  display: none;
}

.tracking-in-expand {
  -webkit-animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.tracking-out-contract {
  -webkit-animation: tracking-out-contract 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: tracking-out-contract 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@media(min-width: 1280px) {
  .me-image {
    &:hover {
      &::after {
        bottom: 5%;
        right: 4%;
      }

      &::before {
        top: 5%;
        left: 4%;
      }
    }
  }
}

@media(max-width: 1080px) {
  h3 {
    color: $subtitle;
    font-size: 1.5rem;
    font-weight: normal;
  }

  h1 {
    color: $primary-color;
    font-size: 2.5rem;
  }

  h4 {
    font-family: 'Oswald', sans-serif;
    color: $text;
    font-weight: 300;
    font-size: 1.2rem;
  }
}
