@import './partials/colors';
@import './partials/cards';
@import './partials/animations';

*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

a{
  text-decoration: none;
  opacity: 0.9;
  transition: .7s ease;
  &:hover{opacity: 1;}
}

ul{
  list-style-type: none;
}

html{
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body{
  overflow: hidden;
  background: $black-gradient;
  transition: .7s ease;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: $blue; 
}

::-webkit-scrollbar-track-piece  { 
  background: rgb(65, 60, 60); 
}


body.entrada{
  header, main{
    display: none;
  }
  .entrada-content{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
    background-color: $black-gradient;
    h1{
      padding: 10px 0;
      font-size: 3rem;
      color: $white-darker;
      font-weight: 400;
    }
  }
}

@import './partials/burguer';
@import './partials/header';
@import './partials/main';
@import './partials/project';