@import './partials/colors';
@import './partials/cards';
@import './partials/animations';

*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

a{
  text-decoration: none;
  opacity: 0.9;
  transition: .7s ease;
  &:hover{opacity: 1;}
}

ul{
  list-style-type: none;
}

html{
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body{
  overflow: hidden;
  background: $black-gradient;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: $blue; 
}

::-webkit-scrollbar-track-piece  { 
  background: rgb(65, 60, 60); 
}

@import './partials/burguer';
@import './partials/header';
@import './partials/main';
@import './partials/project';