.card {
  position: relative;
  min-width: 25rem;
  max-width: 28rem;
  height: 346px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: flex;
      -ms-flex-align: flex;
          align-items: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #f2f2f2;
  border-radius: 16px;
  padding: 24px;
  margin: 10px 40px;
}

.card:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.card:focus {
  outline: none;
}

.card .card-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 173px;
  width: 100%;
  border-radius: 16px 16px 0 0;
}

.card .card-title {
  margin: 173px 0 10px;
  font-size: 1.2rem;
}

.card .card-description {
  font-size: .85rem;
  line-height: 140%;
  color: #374A59;
}

.card .card-links {
  position: absolute;
  bottom: 24px;
  width: calc(100% - 48px) !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card .card-links .card-link {
  position: relative;
  font-weight: 600;
  font-size: .7rem;
  line-height: 15px;
  color: #007AE9;
}

.card .card-links .card-link::before {
  content: '';
  z-index: 4;
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background: #42A6EF;
  -webkit-transition: .7s ease;
  transition: .7s ease;
}

.card .card-links .card-link:hover::before {
  width: 100%;
}

.slick-dots li button::before {
  color: #f2f2f2 !important;
  fill: #f2f2f2 !important;
  stroke: #f2f2f2 !important;
}

@media (max-width: 1369px) {
  .card {
    min-width: 10rem;
    margin: 20px 8px;
  }
}

@media (max-width: 1024px) {
  .card {
    min-width: 10rem;
    margin: 20px 40px;
  }
}

@-webkit-keyframes vejamais {
  0% {
    -webkit-transform: translate3d(0, -30%, 0);
            transform: translate3d(0, -30%, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 0, 0) scale(1.1);
            transform: translate3d(0, 0, 0) scale(1.1);
  }
  100% {
    -webkit-transform: translate3d(0, -30%, 0);
            transform: translate3d(0, -30%, 0);
  }
}

@keyframes vejamais {
  0% {
    -webkit-transform: translate3d(0, -30%, 0);
            transform: translate3d(0, -30%, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 0, 0) scale(1.1);
            transform: translate3d(0, 0, 0) scale(1.1);
  }
  100% {
    -webkit-transform: translate3d(0, -30%, 0);
            transform: translate3d(0, -30%, 0);
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins';
}

a {
  text-decoration: none;
  opacity: 0.9;
  -webkit-transition: .7s ease;
  transition: .7s ease;
}

a:hover {
  opacity: 1;
}

ul {
  list-style-type: none;
}

body, html {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  background: -webkit-gradient(linear, right top, left top, from(#1A1A1A), to(#232526));
  background: linear-gradient(270deg, #1A1A1A 0%, #232526 100%);
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #292525;
}

::-webkit-scrollbar-track-piece {
  background: #413c3c;
}

.burger {
  display: none;
  height: 3em;
  width: 3em;
  position: relative;
  font-size: 12px;
  cursor: pointer;
  -webkit-transition: .2s all;
  transition: .2s all;
  -webkit-tap-highlight-color: transparent;
  z-index: 90;
}

.burger .burger-lines:after {
  left: 0;
  top: -1em;
}

.burger .burger-lines:before {
  left: 1em;
  top: 1em;
}

.burger:after {
  content: '';
  display: block;
  position: absolute;
  height: 150%;
  width: 150%;
  top: -25%;
  left: -25%;
}

.burger .burger-lines {
  top: 50%;
  margin-top: -0.125em;
}

.burger .burger-lines, .burger .burger-lines:after, .burger .burger-lines:before {
  pointer-events: none;
  display: block;
  content: '';
  width: 100%;
  border-radius: 0.25em;
  background-color: white;
  height: 0.25em;
  position: absolute;
  -webkit-transform: rotate(0);
  transform: rotate(0);
}

.burger .burger-lines:after {
  left: 0;
  top: -1em;
}

.burger .burger-lines:before {
  left: 1em;
  top: 1em;
}

.burger.burger-rotate .burger-lines:after, .burger.burger-rotate .burger-lines:before {
  width: 2em;
}

.burger.burger-rotate .burger-lines, .burger.burger-rotate .burger-lines:after, .burger.burger-rotate .burger-lines:before {
  -webkit-transition: all .2s;
  transition: all .2s;
}

.burger.burger-rotate.open {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.burger.burger-rotate.open .burger-lines {
  background-color: transparent;
}

.burger.burger-rotate.open .burger-lines:before, .burger.burger-rotate.open .burger-lines:after {
  left: 0.5em;
  top: 0px;
}

.burger.burger-rotate.open .burger-lines:before {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.burger.burger-rotate.open .burger-lines:after {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.hamburguer-menu {
  position: fixed;
  top: 0;
  right: -100vw;
  min-width: 100vw;
  min-height: 100vh;
  z-index: 9;
  background: rgba(0, 0, 0, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .7s ease;
  transition: .7s ease;
}

.hamburguer-menu p {
  position: absolute;
  bottom: 20px;
  left: calc(50% - 100px);
  color: #f2f2f2;
}

.hamburguer-menu ul {
  text-align: center;
}

.hamburguer-menu ul li {
  margin-bottom: 45px;
}

.hamburguer-menu ul li a {
  position: relative;
  font-size: 2.5rem;
  color: #f2f2f2;
  opacity: 0.8;
}

.hamburguer-menu ul li a::before {
  content: '';
  z-index: 100;
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 4px;
  background: #42A6EF;
  -webkit-transition: .7s ease;
  transition: .7s ease;
}

.hamburguer-menu ul li a:hover {
  opacity: 1;
}

.hamburguer-menu ul li a:hover::before {
  width: 100%;
}

@media (max-width: 768px) {
  .burger {
    display: block;
  }
  .hamburguer-menu.open {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: .7s ease;
    transition: .7s ease;
  }
}

header {
  width: 100%;
  max-height: 10vh;
}

header .div-header {
  padding: 0 8px;
  max-width: 1440px;
  height: 10vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .div-header .logo {
  font-size: 1.8rem;
  letter-spacing: 4px;
  color: #f2f2f2;
}

header .div-header .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .div-header .nav-list .nav-link {
  position: relative;
  padding: 8px 16px;
  color: #42A6EF;
  font-size: 20px;
  margin-left: 35px;
  z-index: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
}

header .div-header .nav-list .nav-link::before {
  content: '';
  z-index: 4;
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 4px;
  background: #42A6EF;
  -webkit-transition: .7s ease;
  transition: .7s ease;
}

header .div-header .nav-list .nav-link:hover {
  color: #56CCF2;
}

header .div-header .nav-list .nav-link:hover::before {
  width: 100%;
}

@media (max-width: 1369px) {
  header .div-header {
    max-width: 1280px;
    padding: 0 24px;
  }
  header .div-header .logo {
    font-size: 24px;
    letter-spacing: 3px;
  }
  header .div-header .nav-list .nav-link {
    font-size: 14px;
    letter-spacing: 3px;
  }
}

@media (max-width: 1024px) {
  header .div-header .nav-list .nav-link {
    font-size: 0.8rem;
  }
}

@media (max-width: 992px) {
  header .div-header .logo {
    font-size: 1.05rem !important;
  }
  header .div-header .nav-list .nav-link {
    font-size: 0.7rem;
  }
}

@media (max-width: 768px) {
  header .div-header .logo {
    font-size: 1.2rem !important;
  }
  header .div-header .nav-list {
    display: none;
  }
}

main .container {
  margin: 0 auto;
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .container .hero {
  position: relative;
  width: 100%;
  height: 90vh;
  max-height: 1080px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 120px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main .container .hero .content .hero-title {
  padding-left: 36px;
  max-width: 816px;
  font-weight: bold;
  font-size: 3.5rem;
  letter-spacing: 4px;
  color: #f2f2f2;
  margin-bottom: 16px;
}

main .container .hero .content .hero-title span {
  color: #42A6EF;
}

main .container .hero .content .hero-subtitle {
  padding-left: 36px;
  color: #f6f6f6;
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 4px;
  opacity: 0.6;
  margin: -15px 0 48px;
}

main .container .hero .content .hero-button {
  margin-left: 36px;
  display: inline-block;
  padding: 12px 55px;
  color: #f2f2f2;
  letter-spacing: 4px;
  background: -webkit-gradient(linear, left top, right top, from(#56CCF2), to(#2F80ED));
  background: linear-gradient(to right, #56CCF2 0%, #2F80ED 100%);
  -webkit-transform: skewX(-10deg);
          transform: skewX(-10deg);
}

main .container .hero .content .hero-button:hover {
  -webkit-transform: skewX(-15deg) scale(1.05);
          transform: skewX(-15deg) scale(1.05);
}

main .container .hero .nav-hero {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .container .hero .nav-hero p {
  font-size: 1rem;
  line-height: 20px;
  letter-spacing: 2px;
  color: #f2f2f2;
  opacity: 0.9;
}

main .container .hero .nav-hero .veja-mais {
  font-size: 1rem;
  position: relative;
  color: #f2f2f2;
  -webkit-animation: vejamais 2s ease-in-out infinite both;
          animation: vejamais 2s ease-in-out infinite both;
}

main .container .hero .nav-hero .veja-mais::before {
  content: '';
  position: absolute;
  bottom: -75%;
  right: 5%;
  width: 90%;
  height: 30px;
  background: url("../img/arrow-down.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

main .container .hero .nav-hero .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .container .hero .nav-hero .social-media li {
  margin-left: 24px;
}

main .container .hero .nav-hero .social-media li a {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .container .portfolio {
  max-height: 1080px;
  padding-top: 50px;
}

main .container .portfolio .portfolio-title {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 60px;
  line-height: 170%;
  letter-spacing: 2px;
  color: #f2f2f2;
}

main .container .portfolio .content h1 {
  width: 100%;
  text-align: left;
  color: #f2f2f2;
  margin-bottom: 10px;
}

main .container .portfolio .content .front-end-projects, main .container .portfolio .content .node-projects {
  width: 100%;
}

main .container .portfolio .content .front-end-projects .slick-track, main .container .portfolio .content .node-projects .slick-track {
  width: 100%;
}

main .container .skills {
  padding-top: 50px;
}

main .container .skills .content {
  margin-bottom: 50px;
}

main .container .skills .content .skills-title {
  font-weight: bold;
  font-size: 60px;
  letter-spacing: 9px;
  color: #f2f2f2;
}

@media (max-width: 1369px) {
  main .container {
    margin: 0 auto;
    padding: 0 120px;
    max-width: 1440px;
  }
  main .container .hero {
    padding-top: 80px;
  }
  main .container .hero .content .hero-title {
    max-width: 700px;
    font-size: 2.5rem;
    letter-spacing: 2px;
  }
  main .container .hero .content .hero-subtitle {
    font-size: 18px;
  }
  main .container .hero .content .hero-button {
    letter-spacing: 2px;
  }
  main .container .hero .nav-hero {
    padding: 0px 24px;
  }
}

@media (max-width: 1024px) {
  main .container {
    margin: 0 auto;
    padding: 0 30px;
  }
  main .container .hero .content .hero-title {
    max-width: 500px;
    font-size: 2rem;
    letter-spacing: 2px;
  }
  main .container .hero .content .hero-subtitle {
    font-size: 18px;
  }
  main .container .hero .content .hero-button {
    letter-spacing: 2px;
  }
  main .container .hero .nav-hero p, main .container .hero .nav-hero .veja-mais {
    font-size: 0.8rem;
  }
  main .container .hero .nav-hero .social-media li {
    margin-left: 12px;
  }
}

@media (max-width: 768px) {
  .nav-hero {
    height: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .veja-mais {
    width: 100%;
    text-align: center;
  }
  .veja-mais::before {
    content: '';
    position: absolute;
    bottom: -75%;
    right: 40% !important;
    width: 20% !important;
    height: 30px;
    background: url("../img/arrow-down.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .social-media {
    display: none !important;
  }
  .nav-hero p {
    display: none !important;
  }
}
/*# sourceMappingURL=style.css.map */