$blue:#42A6EF;
$blue-light:#56CCF2;
$blue-gradient: linear-gradient(to right, #56CCF2 0%, #2F80ED 100%);

$white: #f2f2f2;
$white-dark: #f6f6f6;

$black: #1a1a1a;
$black-gradient: linear-gradient(270deg, #1A1A1A 0%, #232526 100%);