$green:#00e961;
$green-light:#42ef84;

$blue:#42A6EF;
$blue-link:#007AE9;
$blue-light:#56CCF2;
$blue-gradient: linear-gradient(to right, #56CCF2 0%, #2F80ED 100%);

$white: #f2f2f2;
$white-dark: #f6f6f6;
$white-darker: #f8f8f8;

$black: #1a1a1a;
$black-light: #374A59;
$black-gradient: linear-gradient(270deg, #1A1A1A 0%, #232526 100%);