main,
header {
  width: 100%;
}

main {
  padding: 0 3rem;
}

footer {
  background: $secondary-color;
  height: 15rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: #fff;
  z-index: 9999;

  span {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: 1rem 0 2rem;
  }

  ul li a {
    color: $subtitle;

    &:hover {
      color: #fff;
    }
  }

  i {
    text-align: center;
    width: 100%;
  }
}

header {
  padding: 0 2rem;
  height: 7rem;
  display: flex;
  align-items: center;

  .navbar {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
}

.hero {
  width: 100%;
  min-height: calc(75vh - 7rem);
  display: flex;
  justify-content: space-between;
  align-items: center;

  .content {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    .text-left,
    .image {
      width: 50%;
    }
  }

  .image {
    transform: scale(1.25);

    img {
      object-fit: contain;
    }
  }
}

.about-me {
  width: 100%;
  max-width: 1280px;
  margin: 10rem auto 1rem;
  padding-top: 5rem;

  .wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    .image {
      flex: 3;
      display: flex;
      align-items: center;
      justify-content: center;

      position: relative;

      &::before,
      &::after {
        content: "";
        position: absolute;
        border-radius: 100%;
        z-index: 2;
        
      }
      
      &::before {
        border: 2px dotted $primary-color;
        top: -5%;
        left: -5%;
        width: 110%;
        height: 110%;
        opacity: .7;
        animation: rotateRight 90s linear infinite;
      }

      &::after {
        width: 105%;
        top: -2.5%;
        left: -2.5%;
        height: 105%;
        border: 2px dashed $primary-color;
        opacity: .5;
        animation: rotateLeft 80s linear infinite;
        ;
      }

      img {
        width: 100%;
        height: 100%;
        aspect-ratio: 1;
        object-fit: cover;


      }
    }
  }

  .content {
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    flex: 5;

    p {
      font-size: 1.1rem;
      text-align: justify;
      line-height: 160%;
      font-family: "Roboto";
      font-weight: 400;
      color: #454545;
    }

    h5 {
      color: $primary-color;
      font-size: 2rem;
      margin-bottom: 1rem;
    }
  }

  .image {
    flex: 2;

    img {
      display: inline-block;
      width: 100%;
      height: 20rem;
    }
  }
}

.work-resume{
  margin-bottom: 1rem!important;
}

.experience-list{
  width: 100%;
  display: flex;
  align-items: center;
  // gap: .5rem;

  .experience-arrow{
    height: 4rem;
    opacity: .3;
  }
}

.works {
  max-width: 1280px;
  margin: 10rem auto;
  display: flex;
  flex-wrap: wrap;

  >.content {
    width: 100%;
    margin-top: 3rem;
  }

  .work-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  h2 {
    max-width: 500px;
    position: relative;
    color: #fff;

    &::before {
      content: "";
      width: 100%;
      height: 30%;
      position: absolute;
      bottom: 10%;
      left: 0;
      z-index: -1;
      background-color: $primary-color;
    }

    &::after {
      content: "Selected Works";
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 999;
      clip-path: polygon(0 0, 100% 0, 100% 61%, 0 61%);
      color: $primary-color;
    }
  }
}

section.contact-me {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 10rem;
  padding-bottom: 10rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: $background;
  z-index: 9999;

  >.content {
    width: 60%;
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 3rem;

    svg {
      width: 2rem;
      height: 2rem;
      margin-right: 1rem;

      path {
        transition: 0.4s;
        fill: $primary-color;
      }
    }

    a {
      transition: 0.4s;
      display: flex;
      align-items: center;
      color: $primary-color;
      font-weight: 500;
      font-size: 1.5rem;

      &:hover {
        color: $secondary-color;

        svg path {
          fill: $secondary-color;
        }
      }
    }
  }

  h2 {
    width: 40%;
    max-width: 500px;
    position: relative;
    font-size: 6rem;
  }
}

.welcome-screen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background: $secondary-color;

  transition: 0.7s;

  h1 {
    color: #fff;
  }
}

.hero .image {
  margin-top: 2rem;
  overflow: visible;

  img {
    display: block;
    max-width: 500px;

    width: 100%;
  }
}

.freela-display {
  display: flex;
  flex-wrap: wrap;
  max-width: 1280px;
  margin: 10rem auto 20rem;

  .contratar {
    width: 100%;
    padding: 2rem;
    background: #ffffff;
    border-radius: 1rem;
    margin-top: 3rem;
    box-shadow: 0px 8px 32px 0px rgba(12, 12, 12, 0.05);

    display: flex;
    align-items: center;
    justify-content: space-between;

    >p {
      max-width: 60%;

      a {
        padding: 0;
        text-decoration: underline;
        color: $primary-color;
        font-weight: 600;
      }
    }

    .counter {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      p {
        font-size: 2.5rem;
        color: $primary-color;
      }
    }
  }

  h2,
  .display-wrapper {
    width: 100%;
  }

  h2 {
    margin-bottom: 5rem;

    span {
      position: relative;
      color: #111;

      &:after {
        content: '';
        width: 100%;
        height: 8px;
        border-radius: 0 0 8px 8px;
        background: $primary-color;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        // transform: skewX(15deg)
      }
    }
  }

  .display-wrapper {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;

    .main-job,
    .secondary-job {
      position: relative;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 1rem;
      overflow: hidden;
      transition: 0.2s !important;

      &.konectados {
        background-image: url("/assets/img/konectados-app.png");
      }

      &.catalogo {
        background-image: url("/assets/img/catalogo.png");
      }

      &.assinatura {
        background-image: url("/assets/img/assinatura.png");
      }

      .content {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.75);
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        transition: 0.2s;

        h3 {
          font-size: 1.75rem;
          font-weight: 700;
        }

        p {
          font-size: .9rem;
          font-weight: normal;
          opacity: .9;
          text-align: justify;
        }

        h3,
        p {
          width: 100%;
          color: #fff;
          font-family: "Poppins";
        }

        .languages {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          gap: 0.5rem;
        }
      }

      &:hover {
        .content {
          opacity: 0;
        }
      }
    }

    .main-job {
      height: 600px;

      .content {
        align-items: center;

        p,
        h3,
        .languages {
          max-width: 600px;
        }
      }
    }

    .secondary-job {
      &:hover {
        transform: scale(1.25) translateY(15%) !important;
        background-size: cover;
        height: 300px;
        z-index: 9999;
      }
    }

    .main-job {
      width: 100%;
    }

    .secondary-job {
      width: calc(50% - 0.75rem);
      height: 450px;
    }
  }
}

.comments {
  margin-top: 2rem;

  .comment-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  >span {
    margin-top: 2rem;
    color: rgb(99, 99, 99);
    font-size: .9rem;
    display: inline-block;
    width: 100%;
    text-align: center;

    a {
      padding: 0;
    }
  }
}

.stars {
  color: #000;
  margin-left: auto;

  img {
    width: 1rem;
    height: 1rem;
  }
}

@media (max-width: 1080px) {

  main,
  header {
    padding: 0 1rem;
  }

  .hero {
    align-items: flex-start;

    .content {
      flex-direction: column;

      .text-left,
      .image {
        width: 100%;
      }

      .text-left {
        padding: 0 3rem;
        margin-top: 5rem;
      }
    }
  }
}

@media (max-width: 768px) {
  section.contact-me {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    >.content {
      width: auto;
      flex-direction: column;
    }
  }

  header {
    .navbar {
      flex-direction: row-reverse;
      flex-wrap: wrap;
    }

    ul {
      order: 2;
    }

    span {
      width: 100%;
      order: 1;
      text-align: center;
    }
  }

  .about-me {
    max-width: 500px;

    .wrapper {
      flex-direction: column;

      .content {
        padding: 1.5rem 2rem 2rem;
      }

      img {
        display: block;
        min-width: 290px;
      }
    }
  }
}

@media (max-width: 425px) {
  section.contact-me {
    align-items: flex-start;
    justify-content: flex-start;

    h2 {
      font-size: 4.5rem;
    }
  }

  header .navbar {
    span {
      margin-bottom: 1rem;
    }

    ul li {
      margin-left: 0;
      font-size: 1.1rem;
      letter-spacing: 0;
      font-weight: normal;

      a {
        padding: 0 0.75rem;
      }
    }
  }

  footer {
    ul li {
      font-size: 1rem;
      margin-left: 0;

      &+li {
        margin-left: 0;
      }

      a {
        margin-left: 0;
      }
    }
  }
}