main, header{
  width: 100%;
}

main{
  padding: 0 3rem;
}

header{
  padding: 0 2rem;
  height: 7rem;
  display: flex;
  align-items: center;

  .navbar{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
}

.hero{
  width: 100%;
  height: calc(75vh - 7rem);
  display: flex;
  justify-content: space-between;
  align-items: center;

  .content{
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    .text-left, .image{
      width: 50%;
    }
  }
}

.welcome-screen{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background: $secondary-color;
  // animation: hideWelcomeScreen 1.2s ease-out;

  transition: .7s;
  h1{
    color: #fff;
  }
}

.image {
  margin-top: 2rem;
    img{
    max-width: 500px;
    display: block;
    background-color: #ccc;
  }
}

@media(max-width: 1080px) {
  main, header{
    padding: 0 1rem;
  }

  .hero{
    align-items: flex-start;
    .content{
      flex-direction: column;

      .text-left, .image{
        width: 100%;
      }

      .text-left{
        padding: 0 3rem;
        margin-top: 5rem;
      }
    }
  }
}
