main{
  .container{
    margin: 0 auto;
    max-width: 1440px;
    display: flex;
    flex-direction: column;

    .hero{
      position: relative;
      width: 100%;
      height: 90vh;
      max-height: 1080px;
      display: flex;
      align-items: center;
      padding-top: 120px;
      justify-content: flex-start;
      
      .content{
        .hero-title{
          padding-left: 36px;
          max-width: 816px;
          font-weight: bold;
          font-size: 3.5rem;
          letter-spacing: 4px;
          color: $white;
          margin-bottom: 16px;
          
          span{
            color: $blue;
          }
        }

        .hero-subtitle{
          padding-left: 36px;
          color: $white-dark;
          font-weight: 400;
          font-size: 22px;
          letter-spacing: 4px;
          opacity: 0.6;
          margin: -15px 0 48px;
        }
        
        .hero-button{
          margin-left: 36px;
          display: inline-block;
          padding: 12px 55px;
          color: $white;
          letter-spacing: 4px;
          background: $blue-gradient;
          transform: skewX(-10deg);

          &:hover{
            transform: skewX(-15deg) scale(1.04);
          }
        }

      }
      .nav-hero{
        position: absolute;
        bottom: 10px;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;

        p{
          font-size: 1rem;
          line-height: 20px;
          letter-spacing: 2px;
          color: $white;
          opacity: 0.9;
        }

        .veja-mais{
          font-size: 1rem;
          position: relative;
          color: $white;
          animation: vejamais 2s ease-in-out infinite both;

          &::before{
            content: '';
            position: absolute;
            bottom: -75%;
            right: 5%;
            width: 90%;
            height: 30px;
            background: url('../img/arrow-down.svg');
            background-size: contain;
            background-repeat: no-repeat;
          }
        }

        .social-media{
          display: flex;
          li{ 
            margin-left: 16px;
            a{
              width: 32px;
              height: 32px;
              border-radius: 100%;
              background-color: #000;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }
    }

    .portfolio{
      padding-top: 50px;
      
      .portfolio-title{
        margin-bottom:50px;
        font-weight: bold;
        font-size: 60px;
        line-height: 170%;
        letter-spacing: 2px;
        color: $white;
      }
      .content{
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // flex-wrap: nowrap;
        // align-items: center;

        .front-end-toggle{          
          border-bottom: 2px solid rgba(66, 166, 239, .6);
          &.toggled{
            border-bottom: 2px solid $blue-light;
          }
        }
        .node-toggle{
          border-bottom: 2px solid rgba(0, 233, 97, .6);
          &.toggled{
            border-bottom: 2px solid $green-light;
          }
        }
        .front-end-toggle, .node-toggle{
          width: 100%;
          padding: 12px 0;
          text-align: left;
          color: $white;
          margin-bottom: 10px;
          font-size: 1.5rem;
          display: flex;
          justify-content: space-between;
          align-items: center;          

          span{            
            transition: .4s ease;
            img{width: 24px; height: 24px;}

            &.open{
              transform: rotate(180deg);
            }
          }
          
        }

        .front-end-projects, .node-projects{
          position:relative;
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;
          padding: 22px 36px 44px;
          transition: .7s ease;

          &.closed{
            &{
              display: none;
            }
          }

        } // front-end-projects, node-projects
        
      } // content 
    } // portfolio

    .skills{
      padding-top: 50px;

      .content{
        margin-bottom: 50px;
        .skills-title{
          font-weight: bold;
          font-size: 60px;
          letter-spacing: 9px;
          color: $white;
        }
      }
    }
  }
}

.close-tab-frontend, .close-tab-node{
  position: absolute;
  top: 49%;
  left: -55%;
  // height: 100%;
  width: 1600px;
  text-align: center;
  transform: rotate(-90deg);
  color: white;
  font-weight: 400;

  &::before{
    content: '';
    transform: rotate(0deg);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
  }
}

.close-tab-frontend::before{background-color: $blue-light;}
.close-tab-node::before{background-color: $green-light;}


@media(max-width: 1440px){
  .close-tab-frontend, .close-tab-node{
    left: -56%;
  }  
}
@media(max-width: 1400px){
  .close-tab-frontend, .close-tab-node{
    left: -57%;
  }  
}
@media(max-width: 1375px){
  .close-tab-frontend, .close-tab-node{
    left: -57.5%;
  }  
}
@media(max-width: 1369px){
  main{
    .container{
      margin: 0 auto;
      padding: 0 120px;
      max-width: 1440px;
  
      .hero{
        padding-top: 80px;
        .content{

          .hero-title{
          max-width: 700px;
          font-size: 2.5rem;
          letter-spacing: 2px;
          }

          .hero-subtitle{font-size: 16px;}

          .hero-button{
            letter-spacing: 2px;
          }

          
        }
        .nav-hero{
          padding: 0px 24px;
        }
      }
    }
  }
 
  .close-tab-frontend, .close-tab-node{
    top: 46%;
    left: -71%;
    &::before{
      width: 95%;
    }
  }  
}

@media(max-width: 1024px){
  main{
    .container{
      margin: 0 auto;
      padding: 0 30px;
  
      .hero{

        .content{

          .hero-title{
            max-width: 500px;
            font-size: 2rem;
            letter-spacing: 2px;
          }

          .hero-subtitle{font-size: 18px;}

          .hero-button{
            letter-spacing: 2px;
          }
        }
        .nav-hero{
          p, .veja-mais{
            font-size: 0.8rem;
          }
          .social-media li{
            margin-left: 12px;
          }
        }
      }

      .portfolio{
        .content{
          .front-end-projects, .node-projects{

            
            .project{
              flex-direction: column;
              max-height: none;
              
              img{max-width: 100%;}
            }
          }
        }
      }
    }
  }
}

@media(max-width: 768px){
  .nav-hero{height: 30px; justify-content: center;}
  .veja-mais{
    width: 100%; text-align: center;

    &::before{
        content: '';
        position: absolute;
        bottom: -75%;
        right: 40%!important;
        width: 20%!important;
        height: 30px;
        background: url('../img/arrow-down.svg');
        background-size: contain;
        background-repeat: no-repeat;
    }
  }
  .social-media{display: none!important; }
  .nav-hero p {display: none!important;}
}

@media(max-width:500px){
  .front-end-projects, .node-projects{padding: 0!important;}
  .close-tab-frontend, .close-tab-node{
    width: 2435px;
    font-size: .8rem;
    top: 47%;
    left: -317.5%;
  }  

  .close-tab-node{
    width: 2400px;
    left: -313%;
  }
}