.project{
  margin: 18px 0;
  background-color: $black;
  width: 100%;
  max-width: 1440px;
  max-height: 350px;
  display: flex;
  box-shadow: 0px 4px 18px 0px $black-light;

  opacity: 0;
  transform: translate3d(-100px, 0, 0);
  transition: .7s ease;

  &.animate-project{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  img{
   max-width: 45%;
   max-height: 350px;
  }

  .project-info{
    padding: 44px 44px 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    .project-title{
      font-family: 'Poppins';
      font-size: 2rem;
      color: $white;
      font-weight: 400;
      height: 42px;
    }
    
    .project-description{
      font-family: 'Poppins';
      font-size: 1rem;
      opacity: .8;
      font-weight: 400;
      color: $white;
      letter-spacing: 2px;
      text-align: justify;
      height: 190px;
    }

    .buttons{
      // margin-top: 90px;
      height: 30px;
      width:100%;
      display: flex; 
      justify-content: space-between;
    }

    .see-on-github,
    .see-it-working{
      max-height: 24px;
      position: relative;
      font-family: Open Sans;
      font-weight: 600;
      font-size: .9rem;
      color: $blue-link;

      &::before{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 2px;
        background-color: $blue-link;
        transition: .7s ease;
      }

      &:hover{
        &::before{width: 100%;}
      }
    }
  }

} 

@media(max-width:1368px){
  .project{
    max-height: none;
    img{
      max-width: 50%;
      max-height: none;
    }
    .project-info{
      .project-title{
        font-size: 1.4rem;
      }
      .project-description{
        font-size: .8rem;
      }
    }
  }
}

@media(max-width:500px){
  .project{
    .project-info{
      .project-title{
        height: 52px;
        font-size: 1.25rem;
      }
      
      .project-description{
        height: 180px;
        font-size: 0.7rem;
        text-align: left;
      }
    }
  }
}